html {
  padding:0;
  margin:0;
}

body {
  margin:0;
  padding:0 0 15px 0;
  font-family: 'Helvetica Neue', 'Lucida Grande', Arial;
  background-color:#000;
  background-image:url("../background.jpg");
  background-position:0 0;
  background-repeat:no-repeat;
}

#content {
  position:relative;
  z-index:2;
  padding:25px 0 0 40px;
}

h1 {
  display:none;
}

#main p.intro {
  font-family:'Lucida Grande',Verdana;
  padding:0;
  margin: 105px 0px 0px 0px;
  color:#fff;
  line-height:14px;
  font-size:13px;
}

#main p.intro strong {
  font-weight:bold;
  padding-left:25px;
  color:#aaa;
}

#main p.intro strong a {
  color:#aaa;
}

#main p.intro strong a:hover {
  color:#fff;
}

h2,
h3,
p,
li {
  font-size:14px;
  line-height:32px;
}

h2 {
  color: #666;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0px 0px 0;
  padding: 20px 0px 10px;
  text-transform: uppercase;
}

ul {
  padding:0 0 0 15px;
  margin:0;
  color:#ccc;
}

li {
  padding:0;
  margin:0;
  color:#ccc;
}

a {
  color:#fff;
  text-decoration:none;
}

a:active,
a:hover {
  text-decoration:underline;
}

br.clear {
  height:1px;
  clear:both;
}

#main {
  width:625px;
}

#nav {
  width:625px;
  list-style:none;
  font-family:'Lucida Grande',Verdana;
  clear:both;
  display:block;
  margin:0;
  padding:0;
}

#nav li {
  margin:0;
  padding:0;
}

#nav li a {
  padding-top:17px;
  display:block;
  float:left;
  padding-right:15px;
  font-weight:bold;
  font-size:16px;
  height:30px;
  color:#aaa;
}

#nav li a:hover,
#nav li a.active {
  color:#fff;
}

#api_toc {
  width:625px;
  font-family:"Lucida Grande",Verdana;
}

#api_toc table {
  border-collapse:collapse;
  width:625px;
}

#api_toc td {
  width:16%;
  padding:0;
  vertical-align:top;
}

#api_toc td h2 {
  padding-top:17px;
}

#api_toc td h3 {
  font-size:12px;
  padding:0;
  margin:0;
  color:#fff;
}

#api_example {
  
}

#main h2,
#main h3,
#api_example h3 {
  color:#fff;
  text-transform: none;
  letter-spacing:inherit;
  font-weight:bold;
  font-family:"Minion Pro";
  font-size:24px;
  margin:20px 0 0px 0;
  padding:0 0 10px 0;
  border-bottom:1px solid #333;
}

#main h2,
#main h3 {
  border-bottom:none;
  padding-bottom:0;
}

#api_example h3 em {
  font-weight:normal;
  color:#ccc;
  padding-left:5px;
  font-style:inherit;
  font-size:18px;
}

#main p,
#api_example p {
  font-size: 14px;
  line-height:21px;
  color:#ccc;
  margin:0;
  padding:15px 0 0 0;
}

#main p a,
#api_example p a {
  font-weight:bold;
}

#main p strong,
#api_example p strong {
  color:#fff;
}

#api_example ul {
  margin-top:15px;
  margin-left:15px;
  list-style:disc;
}

pre {
  background: #111;
  border: 1px solid #323232;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  margin: 20px 10px 0 10px;
  padding: 18px 25px 20px 25px;
}