html,
body {
  padding:0;
  margin:0;
  font-family: 'Helvetica Neue', 'Lucida Grande', Arial;
}

body {
  padding:20px 20px 20px 40px;
}

a {
  text-decoration:none;
  color:#900;
}

a:hover {
  text-decoration:underline;
}

h1,
h2,
h3 {
  font-family "museo-sans-rounded-1", "museo-sans-rounded-2", "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1:first-child {
  font-size:48px;
  line-height:48px;
  margin:0;
  padding:0;
}

p,
pre,
li {
  max-width:800px;
}

pre {
  padding:10px;
}

ul#nav,
ul#controls {
  position:absolute;
  top:0;
  right:10px;
  list-style:none;
}

ul#controls {
  top:40px;
}

ul#nav li,
ul#controls li {
  float:left;
}

ul#nav a,
ul#controls a {
  font-weight:bold;
  padding-right:10px;
  font-size:18px;
}

ul#controls a {
  font-size:14px;
  font-weight:normal;
}