pre.highlighted {
  background-color:#000;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

code,
.dp-highlighter li {
	font-weight:normal;
	font-family:"bitstream vera sans mono",monaco,"lucida console","courier new",courier,serif;
	color:#fff;
	font-size:14px;
	line-height:20px;
}

.dp-highlighter ol {
	margin:0;
	padding:0;
}

.dp-highlighter ol,
.dp-highlighter ol li {
	list-style:none;
}

.dp-highlighter div.comment {
	font-family:inherit;
}

.dp-highlighter ol .comment {
	color:#545454;
}

.dp-highlighter ol .string {
	color:#8B9F67;
}

.dp-highlighter ol .keyword {
	color:#D3A864;
}

.dp-highlighter ol .constants {
	color:#DF6547;
}

.dp-highlighter ol .const {
	color:#DF6547;
}

.dp-highlighter ol ._this {
	color:#7287A8;
}

.dp-highlighter ol .builtin {
	color:#9F839E;
}

.dp-highlighter ol .regexp {
	color:#D3A864;
}

.dp-highlighter ol .support_property {
	color:#DF6547;
}

.dp-highlighter ol .support_method {
	color:#FAF092;
}

.dp-highlighter ol .func_dec {
	color:#A26F3A;
}