html {
  margin:0;
  padding:0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size:11px;
  width:600px;
  padding:0 20px 0 200px;
}

a {
  color:#0f67a1;
  text-decoration:none;
  font-weight:bold;
}

a:hover {
  text-decoration:underline;
}

h1 {
  color: black;
  font-family: 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial;
  font-size: 96px;
  letter-spacing: -4px;
  margin: 0px;
  padding: 20px 0px 20px 0;
  text-shadow: #ccc 2px 2px 0px;
}

h2 {
  font-size:24px;
  border-top:1px solid #ccc;
  padding-top:16px;
  margin-top:16px;
  margin-bottom:16px;
}

h3 {
  border-top:1px solid #ccc;
  font-size:14px;
  color:#000;
  padding-top:11px;
  margin-top:11px;
  margin-bottom:11px;
}

h3 em {
  font-style:normal;
  font-size:14px;
  color:#333;
  font-weight:normal;
}

pre {
  background-color:#f7f7f7;
  display:block;
  border-left:4px solid #bbb;
  border-right:4px solid #bbb;
  font-size:12px;
  line-height:18px;
  padding:7px 15px 7px 15px;
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
}

p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 11px;
  margin-top:0;
  padding:0;
}

ul {
  padding-top:0;
  margin-top:0;
  margin-bottom:11px;
}

li {
  font-size: 14px;
  line-height: 22px;
}

#toc {
  width:150px;
  position:fixed;
  top:35px;
  left:35px;
}

#toc ul {
  list-style:none;
  padding:0;
  margin:0;
}

#toc li {
  padding:0;
  margin:0;
}

#toc h1,
#toc h1 a,
#toc h2,
#toc h2 a {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  letter-spacing:inherit;
  text-shadow:none;
  border-top:none;
  color:#000;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  margin-top: 15px;
  text-decoration: none;
  border-bottom:none;
  padding:0;
  margin:0;
}

#toc h2 {
  padding-top:15px;
}

#toc h3,
#toc h3 a {
  border-top:none;
  color:#000;
  font-family: 'Lucida Grande';
  font-size: 11px;
  line-height: 14px;
  padding:0;
  margin:0;
  text-decoration: none;
}

#toc h3 {
  padding:3px 0;
}

#toc h1 a:hover,
#toc h2 a:hover,
#toc h3 a:hover {
  text-decoration:underline;
}

hr {
  border:none;
  height:1px;
  background-color:transparent;
  color:transparent;
  border-top:1px solid #ccc;
}